* {
  margin: 25px;
  padding: 0px;
  background-color: #dfdfdf;
}
h1 {
  color: #232528;
  font-family: "Verdana";
}
p {
  font-family: "Times New Roman";
  font-size: 12;
  color: #3c3f45;
}
h2 {
  color: #232528;
  font-family: "Verdana";
}

h3 {
  font-family: "Verdana";
  color: #232528;
}
ul {
  color: #3c3f45;
}

table {
  color: #3c3f45;
  border-style: inset;
  border-width: 5px;
  border-collapse: separate;
  padding: 10px;
  border-spacing: 5px 1rem;
}

table img {
  width: 5em;
  object-fit: cover;
  float: none;
}

.center {
  margin: auto;
}

button {
  background-color: #3c3f45;
  color: #dfdfdf;
}

input {
  background-color: #3c3f45;
  color: #dfdfdf;
}

a {
  color: #3c3f45;
}

a:visited {
  color: #f96d00;
  outline: none;
}
